.simpleh1 {
    color: grey;
}

.simplevl {
    color: maroon;
}

.imgsimple{
    width: 400px;
}

table td{
    border: 1px solid black
}

.pati{
    text-align: center;
}

.semana{
    background-color: red;
}

.hora {
    background-color: blue;
}

.sistemes{
    background-color: blueviolet; color:azure; border: 1px solid blue
}

.seguretat{
    background-color:coral; color:brown; border: 1px solid red
}

.serveis{
    background-color: aquamarine; color:cadetblue; border: 1px solid aqua
}

.EIE{
    background-color: darkgoldenrod; color:moccasin; border: 1px solid brown
}

.web{
    background-color: beige; color:dimgrey; border: 1px solid wheat
}