.simpleh1 {
    color: grey;
}

.simplevl {
    color: maroon;
}

.imgsimple {
    width: 400px;
}

table td {
    border: 1px solid black
}

.pati {
    text-align: center;
}

.semana {
    background-color: red;
}

.hora {
    background-color: blue;
}

.sistemes {
    background-color: blueviolet;
    color: azure;
    border: 1px solid blue
}

.seguretat {
    background-color: coral;
    color: brown;
    border: 1px solid red
}

.serveis {
    background-color: aquamarine;
    color: cadetblue;
    border: 1px solid aqua
}

.EIE {
    background-color: darkgoldenrod;
    color: moccasin;
    border: 1px solid brown
}

.web {
    background-color: beige;
    color: dimgrey;
    border: 1px solid wheat
}


.flexbox {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    width: 610px;
    height: 400px;
    background-color: white;
    flex-wrap: wrap;
    margin: 3px;
    justify-content: space-between;
}

.titol {
    border: 1px solid black;
    line-height: 50px;
    width: 99px;
    height: 71px;
    text-align: center;
}

.titol2 {
    line-height: 10px;
    width: 504px;
    height: 35px;
    border: 1px solid black;
}

.dilluns {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    line-height: 10px;
  
}

.dimarts {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    line-height: 10px;
 
}

.dimecres {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    line-height: 10px;
}

.dijous {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    line-height: 10px;
}

.divendres {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    line-height: 10px;
 
}

.horafl {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    line-height: 10px;
  
}

.primera {
  
}

.segunda {
 
}

.tercera {
 
}

.quarta {
    
}

.quinta {
    
}

.sexta {

}

.prpati {

}

.sepati {

}

.phoral {
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
 
}

.shoral {
  
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
 
}

.thoral {
   
    width: 100px;
    height: 35px;
    line-height: 10px;
    text-align: center;
 
}

.qhoral {
   
    width: 100px;
    height: 35px;
    line-height: 10px;
    text-align: center;
  
}


.phoram {

    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
 
}


.shoram {
   
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
 
}

.thoram {
    
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;

}

.phorami {
   
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
  
}


.shorami {

    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
   
}

.thorami {
 
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
    
}

.phoraj {
 
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;

}

.qhoraj {

    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
  
}

.thoraj {
  
    width: 100px;
    height: 35px;
    line-height: 10px;
    text-align: center;

}

.shoraj {
 
    width: 100px;
    height: 35px;
    line-height: 10px;
    text-align: center;
   
}

.phorav {
 
    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
  
}

.qhorav {

    width: 100px;
    height: 71px;
    line-height: 30px;
    text-align: center;
  
}

.thorav {
  
    width: 100px;
    height: 35px;
    line-height: 10px;
    text-align: center;
   
}

.shorav {
 
    width: 100px;
    height: 35px;
    line-height: 10px;
    text-align: center;
   
}

.patifl{
    text-align: center;
    border: 1px solid black;
    width: 504px;
    height: 35px;
  
}

.patifl2{
    text-align: center;
    border: 1px solid black;
    width: 504px;
    height: 35px;
   
}

